*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-size: 14px;
}
img{
    width: 100px;
    height: 35px;
    display: flex;
    flex-direction: row-reverse;
}
#navbar a{
    color: white;
    background-color: rgb(22, 66, 66);
    display: block;
    height: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .5s;   
}
#navbar a:hover{
    background-color: rgb(36, 54, 54);
}
#navbar ul{
    list-style: none;
    display: flex;
}
#navbar li{
    width: 100%;
    text-align: center;
    position: relative;
}
.menubar:hover{
    background-color: rgb(36, 54, 54);
}
.submenu li{
    display: none;
    position: absolute;
    top: 0;
    border-bottom: 1px solid white;
    border-left: 5px solid rgb(14, 167, 116);
}

#navbar li:hover .submenu>li{
    display: block;
    top: 0;
}
.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.submenu li:hover .submenu2>li{
    display: block;
}
.submenu2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 150px;
}
.about{
    width: 300px;
    height: 200px;
    background-color: cornsilk;
    color: crimson;
    margin-left: 20px;
}
.contact{
    width: 300px;
    height: 200px;
    background-color: cornsilk;
    color: crimson;
    margin-left: 20px;
}
.team{
    width: 300px;
    height: 200px;
    background-color: cornsilk;
    color: crimson;
    margin-left: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items:flex-end;
    height: 700px;
}
h1{
    text-align: center;
    border-bottom: 1px solid blue;
}